.inline-pre {
    display: inline !important;
    padding: 3px !important;
}
pre {
    color: #e91e63 !important;
    background: #ecf0f1;
    border-radius: 5px;
}
.pointer {
    cursor: pointer;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


/* Bootstrap and Bootswatch Overrides */
.navbar {
    padding: 0;
}
section {
    padding-top: 2em;
}